
.affix {
    top: 0;
    width: 100%;
}

.affix + .container-fluid {
    padding-top: 90px;
}

.special {
    margin: 10px 5px;
}


label {
    font-size: small;
}

#name {
    width: 125px;
    height: 25px;
    border-radius: 3px;
}

#pwd {
    width: 125px;
    height: 25px;
    border-radius: 3px;
}

#login {
    margin: 13px 4px;
    padding: 2px;
    height: 26px;
    width: 65px;
    border-radius: 3px;
}

.navbar-default {
    border-radius: 0;
}

.navbar-nav > li > a {
    padding: 20px;
    margin-left: 4px;
}
.navbar-default .navbar-brand{
    color: black;
    font-size: x-large;
}